<div class="container">
	<div class="tip-footer">
	 <small><center><i class="fa fa-btc fa-2x icon-shim"></i>  tips help pay for the server - 1ALneCzoasVJ7LLX7K2UcZNA2X68AZ1Y1U</center></small>
	</div>
</div>
