<div class="container col-md-12 center">
	<div class="row tip-footer">
		To stay up to date with the newest restaurants and features, or to request new ones, <a href="https://twitter.com/FastFoodProtein">follow @FastFoodProtein<span class="pink-txt"><i class="fa fa-twitter icon-shim fa-1x"></i></span>
	</a>, <a href="https://facebook.com/FastFoodProtein">Like us on Facebook<span class="pink-txt"><i class="fa fa-facebook icon-shim fa-1x"></i></span></a>,
		and <a href="https://www.google.com/+FastfoodproteinApp">follow on Google+<span class="pink-txt"><i class="fa fa-google-plus icon-shim fa-1x"></i></span>
	</a>
	</div>
	<div class="row footer-txt">
	 <%= link_to "About Us", about_path%><i class="fa fa-btc fa-1x icon-shim"></i>  1ALneCzoasVJ7LLX7K2UcZNA2X68AZ1Y1U
	</div>
	
	
</div>
