<div class="container col-md-12">
	<center>
	<div class="row tip-footer">
		To stay up to date with the newest restaurants and features, or to request new ones, <a href="https://twitter.com/FastFoodProtein">follow @FastFoodProtein<span class="pink-txt"><i class="fa fa-twitter icon-shim fa-1x"></i></span>
	</a>, <a href="https://facebook.com/FastFoodProtein">Like us on Facebook<span class="pink-txt"><i class="fa fa-facebook icon-shim fa-1x"></i></span></a>,
		and <a href="https://www.google.com/+FastfoodproteinApp">follow on Google+<span class="pink-txt"><i class="fa fa-google-plus icon-shim fa-1x"></i></span>
	</a>
	</div>
	<div class="row tip-footer">
	 tips show you love us! <i class="fa fa-btc fa-1x icon-shim"></i>  1ALneCzoasVJ7LLX7K2UcZNA2X68AZ1Y1U
	</div>
	</center>
	<div class="row">
		<center>
<!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
adsense bot-banner 
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-4200540000959453"
     data-ad-slot="6866720293"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>-->

</center>
		</div>
</div>
