<div class="container col-md-12">
	<center>
	<div class="row tip-footer">
		<h4>To stay up to date with the newest restaurants and features, <a href="https://twitter.com/FastFoodProtein">follow @FastFoodProtein<span class="pink-txt"><i class="fa fa-twitter icon-shim fa-1x"></i></span>
	</a>	or <a href="https://facebook.com/FastFoodProtein">Like us on Facebook<span class="pink-txt"><i class="fa fa-facebook icon-shim fa-1x"></i></span>
	</h4></a>
	</div>
	<div class="row tip-footer">
	 Got a restaurant request or feedback to share? <a href="https://twitter.com/FastFoodProtein">Tweet us</a> or post to our <a href="https://facebook.com/FastFoodProtein">Facebook page!</a>
	</div>
	<div class="row tip-footer">
	 <i class="fa fa-btc fa-2x icon-shim"></i>  tips help pay for the server - 1ALneCzoasVJ7LLX7K2UcZNA2X68AZ1Y1U
	</div>
	</center>
	<div class="row">
		<center>
<!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
adsense bot-banner 
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-4200540000959453"
     data-ad-slot="6866720293"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>-->

</center>
		</div>
</div>
