<div class="container col-md-12">
	<div class="row tip-footer">
	 <small><center><i class="fa fa-btc fa-2x icon-shim"></i>  tips help pay for the server - 1ALneCzoasVJ7LLX7K2UcZNA2X68AZ1Y1U</center></small>
	</div>
	<div class="row tip-footer">
	 <small><center>Got a restaurant request or feedback to share? Tweet us or post to our Facebook page!</center></small>
	</div>
	<div class="row">
		<center>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- bot-banner -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-4200540000959453"
     data-ad-slot="6866720293"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</center>
		</div>
</div>
