<% provide(:title, 'About Fast Food Protein') %>
<h1 class="center">About Fast Food Protein</h1>

<div class="container-fluid">
<div class="col-md-8 col-md-offset-2 about-page-txt">
<p><strong>Fast Food Protein</strong> was created in August, 2014 to solve a real problem - the pain of trying to compare fast food menu items across different chains, espiecally when on a mobile device. 
</p>
<p>
As someone who tracks nutritional information like calories and protein consumption, I wanted a better way, so I built it.
</p>
<p>
And it turned out, <a href="http://www.reddit.com/r/Fitness/comments/2ejw1e/i_made_a_website_to_help_find_the_best/">thousands of others</a> felt the same way. Since then I've been working feverishly to continue to grow the site based on user feedback, whether it's building new features or adding new data, the goals remain the same-
</p>
<p>
<ul>
<li> Give data that's simple to compare</li>

<li> Give accurate data</li>

<li> Always be improving</li>
</ul>
</p>
<p>
	If you'd like to keep up to date on our newest data or features, be sure to follow us on Twitter or Facebook!
		<div class="row center"><a class="twitter-timeline" href="https://twitter.com/FastFoodProtein" data-widget-id="508805102061092864">Tweets by @FastFoodProtein</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>

</p>
</div> 
</div>
