<% provide(:title, 'The Fastest Way to Compare Fast Food Protein') %>
<div class="home_page center container-fluid">	
	<h1>Fast Food Protein</h1>
	<div class="subtitle">Make smarter choices!
		<br>Find the best <b>protein</b> and best <b>protein/calorie</b> ratio of the choices available to you.
		<br>Compare multiple restaurants in one spot!</div>
	
	<div class="container-fluid">
		<div class="col-md-12">
			<select id="company_name" name="company_name" class="search-form-select-list-big">
			<option value="" disabled selected>Select A Restaurant</option>
			<% Food.distinct_company_names.each do |name| %>
				<option value="<%= name.company_name %>"><%= name.company_name %></option>
			<% end %>
			</select>
		</div>
		
		<h2>or</h2>
		
		<div class="col-md-12">
			<form action="/search" method="get"><input class="btn-search-big" type="submit" value="Compare All" /></form>
		</div>
		
	</div>
</div>

<script>
  $('#company_name').on('change', function() {
    if ($(this).val().length) {
      window.location = '/restaurant/' + $(this).val()
    }
  })
</script>