<% provide(:title, 'The Fastest Way to Compare Fast Food Protein and Nutrition') %>
<div class="home_page center container-fluid">	
	
	<h1>Fast Food Protein</h1>
	<h2>Compare fast food nutrition the simple way!</h2>
		<h3><br>Find the best options for <b>protein</b>, <b>calories</b>, <b>carbs</b>, <b>fats</b>, and more available to you.
		<br>Compare nutrition from multiple restaurants in one spot!</h3>
	
	<div class="container-fluid">
		<div class="col-md-4">
			<select id="company_name" name="company_name" class="search-form-select-list-big">
			<option value="" disabled selected>Select A Restaurant</option>
			<% Food.distinct_company_names.each do |name| %>
				<option value="<%= name.company_name %>"><%= name.company_name %></option>
			<% end %>
			</select>
		</div>
		
		<div class="col-md-4">
			<form action="/search" method="get"><input class="btn-search-big" type="submit" value="Compare All" /></form>
		</div>
		
		<div class="col-md-4">
			<form action="/amazon" method="get"><input class="btn-search-big-amazon" type="submit" value="Check Amazon" /></form>
		</div>
		
	</div>
</div>

<script>
  $('#company_name').on('change', function() {
    if ($(this).val().length) {
      window.location = '/restaurant/' + $(this).val()
    }
  })
</script>