	<div class="center container-fluid">	
	<h1>All Foods</h1>
	<%= render "shared/search_form" %>	

	<%= render partial: "shared/most_protein", locals: {most_protein: @grid_foods} %>

	<%= render partial: "shared/search_table", locals: {grid_food: @grid_foods, extra_columns_selected: @extra_columns_selected} %>	
	
	</div>
	
	<!-- enable sortable tableheaders -->
