	<% provide(:title, 'Compare Fast Food Nutrition and Protein from All Restaurants') %>
	<div class="center container-fluid">	
	<h1>All Fast Food Restaurants</h1>
	
	<% if params[:search] %>
	<%= render partial: "shared/most_protein", locals: {most_protein: @grid_foods, all_list: true} %>
	<%end%>
	
	<%= render partial: "shared/search_form", locals: {all_list: true} %>	
	
	<% if params[:search] %>
	<%= render partial: "shared/search_table", locals: {grid_food: @grid_foods, extra_columns_selected: @extra_columns_selected} %>
	<%else%>
		<h3>Select your criteria, or click "Compare" to view all nutrition data</h3>
	<%end%>
	</div>
	