	<div class="center container-fluid">	
	<h1>All Foods</h1>
	<%= render "shared/search_form" %>	

	<%= render partial: "shared/most_protein", locals: {most_protein: @grid_foods} %>

	<%= render "shared/search_table" %>	
	
	</div>
	
	<!-- enable sortable tableheaders -->
