@import "variables";

.time{
  font-style:italic;
}

.meta{
  margin-bottom: 15px;
  color: $mediumGray;
}

.excerpt {
  font-size: 20px;
  margin-bottom: 10px;
}

.article-content {
  font-size: 20px;
  line-height: 150%;
}

.spacer {
  margin-top: 40px;
  margin-bottom: 40px;
}

.bot-blog-banner{
  margin-top: 20px;
}

.blog-img-div{
  
}

.blog-top-image{
  width: 100%;
}

.image-caption{
  font-size: 14px !important;
}

.blog-tag{
  font-weight: 400;
  margin: 12px;
  
}
