@import "variables";

th {
  text-align: center;
  //font-family: 'Cabin', Helvetica, Arial, sans-serif;
  //font-weight: bold;
  font-size: 17px !important;
}


#show-column-link {
  font-weight: bold;
  padding: 2px;
      &:hover{
        cursor: pointer;
      }
  
}
