@import "variables";

th {
  text-align: center;
  //font-family: 'Cabin', Helvetica, Arial, sans-serif;
  //font-weight: bold;
  font-size: 17px !important;
}



.left-text{
  text-align: left;
  margin-top: 5px;
}

.left-text-only{
  text-align: left;
}

