$grayMediumLight: #eaeaea;
$black: #000;
$cream: #FEF9F0;
$offwhite: #F0F0F0;

/* tech city */
$darkGray: #444444;
$lightGray: #D3D5CF;
$mediumGray: rgba($darkGray,.2);

/*fresh*/
$fwhite: #F3F3F3;
$fpink: #F35C9F;
$fgold: #FBB829;
$ftan: #F2E0CC;
$flightBlue: #00AAFF;
$fdarkBlue: #23426A;
$fdenim: #4F9EC9;


/* final color choice */
$main-bg: $fdenim;
$main-container: $fwhite;


$main-color: $fgold;
$accent-color: $fwhite;