$grayMediumLight: #eaeaea;
$black: #000;
$off-wht: rgba(white,.4);
$cream: #FEF9F0;
$offwhite: #F0F0F0;

$lime: #DDE9CA;
$mint: #85C6A9;
$money: #73AB5C;
$darkMoney: #35794B;
$teal: #1693A5;

$lightBlue: #D2E4FC;
$blue: #2A8FBD;

$orangeRed: #F27405;
$cheeryPink: #FF6B6B;

/* tech city */
$darkGray: #444444;
$brightRed: #FF2255;
$creamy: #EEEEDD;
$darkTeal: #559999;
$menthol: #CCDDCC;
$lightGray: #D3D5CF;
$mediumGray: rgba($darkGray,.2);


/* final color choice */
$main-color: $blue;
$accent-color: $offwhite;