# app/views/blog/articles/show.html.haml
%article
  %h1= @article.title
  = render partial: "meta", locals: { article: @article }
  = preserve_markdown @article.content
  %hr
  %p.action= link_to "← Back to Overview", blog_articles_path