<% provide(:title, @article.title) %>
<h1 class="center"><%= @article.title  %></h1>
<div class="container-fluid">
	<div class="col-sm-8 col-sm-offset-1">
  
  <%= render partial: "meta", locals: {article: @article} %>	
  	<div class="article-content"><%= markdown(@article.content_body) %> </div>
  <hr>
   <%= link_to "â† Back to Articles", blog_articles_path %>
	</div>
	
	<div class="col-sm-offset-1 col-sm-2 pull-right" style="text-align:right">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- side-blog -->
		<ins class="adsbygoogle"
		     style="display:inline-block;width:300px;height:250px"
		     data-ad-client="ca-pub-4200540000959453"
		     data-ad-slot="9373287496"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
</div>
<div class="center bot-blog-banner">  
<script type='text/javascript'>
 amzn_assoc_ad_type = 'banner';
 amzn_assoc_tracking_id = 'ffp-blog-bottom-20';
 amzn_assoc_marketplace = 'amazon';
 amzn_assoc_region = 'US';
 amzn_assoc_placement = 'assoc_banner_placement_default';
 amzn_assoc_linkid = 'ZZ3RRGNMTADTG25W';
 amzn_assoc_campaigns = 'backtoschool14';
 amzn_assoc_banner_type = 'category';
 amzn_assoc_isresponsive = 'true';
</script>
<script src='//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1'></script>
</div>