<% provide(:title, @article.title) %>
<h1 class="center"><%= @article.title  %></h1>
<div class="container-fluid">
	<div class="col-sm-6 col-sm-offset-2">
  
  <%= render partial: "meta", locals: {article: @article} %>	
  	<div class="article-content"><%= markdown(@article.content_body) %> </div>
  <hr>
   <%= link_to "â† Back to Articles", blog_articles_path %>
	</div>
	
	<div class="col-sm-offset-2 col-sm-2 pull-right" style="text-align:right">
	<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=ss_til&ad_type=product_link&tracking_id=ffp-blog-20&marketplace=amazon&region=US&placement=B000QSNYGI&asins=B000QSNYGI&linkId=Q3VY3Y2H54VUJK5K&show_border=true&link_opens_in_new_window=true">
	</iframe>
	<br>
	<a href="http://www.amazon.com/gp/product/B000QSNYGI/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B000QSNYGI&linkCode=as2&tag=ffp-blog-20&linkId=BHAFL6IV6A4RNOYS">Optimum Nutrition 100% Whey Gold Standard, on Amazon</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=ffp-blog-20&l=as2&o=1&a=B000QSNYGI" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
	<div class="spacer"></div>
	<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=ss_til&ad_type=product_link&tracking_id=ffp-blog-20&marketplace=amazon&region=US&placement=B005KSIGKI&asins=B005KSIGKI&linkId=XIMMRX3EVMFZOBM5&show_border=true&link_opens_in_new_window=true">
	</iframe>
	<br>
	<a href="http://www.amazon.com/gp/product/B005KSIGKI/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B005KSIGKI&linkCode=as2&tag=ffp-blog-20&linkId=WSTWGMJRA3DUEQFQ">VitaFusion MultiVites Gummy Vitamins for Adults</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=ffp-blog-20&l=as2&o=1&a=B005KSIGKI" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
	</div>
</div>
<div class="center bot-blog-banner">  
<script type='text/javascript'>
 amzn_assoc_ad_type = 'banner';
 amzn_assoc_tracking_id = 'ffp-blog-bottom-20';
 amzn_assoc_marketplace = 'amazon';
 amzn_assoc_region = 'US';
 amzn_assoc_placement = 'assoc_banner_placement_default';
 amzn_assoc_linkid = 'ZZ3RRGNMTADTG25W';
 amzn_assoc_campaigns = 'backtoschool14';
 amzn_assoc_banner_type = 'category';
 amzn_assoc_isresponsive = 'true';
</script>
<script src='//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1'></script>
</div>